img {

   width: 400px;
}
h1 {
    font-size: 40pxpx;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
body{
    background-image: url(https://i.pinimg.com/originals/dd/2e/3b/dd2e3b29cbc9232e63379fe65af1d7f6.gif);
}
a {
    text-align: center;
    font-size: 20px;
}